<!DOCTYPE html>
<html>

<head>
  <title>Argentina 2021 Integración (OAuth flujo)</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
  <div id="content">
    <div class='header-logo'>
      <img class='header-logo' src='assets/onebank/img/logo.png' alt='OneBank Logo'></img>
    </div>
    <div class='body-column-right-main round'>
      <p class='header-big'>Tú asistente</p>
      <a href=<%=link %> class="button">Start OAuth flow</a>
      <input type='submit' value='Pregunta a Marta' name='submit' class='submit'
        onclick=<%=link %> />
    </p>
    </div>

  </div>
</body>

</html>