a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

.ciscospark-activity-menu-button-wrapper {
  visibility: hidden;
}
.header-logo {
  width: 170px;
  height: 170px;
  float: left;
}
.body-column-right {
  width: 650px;
  float: right;
  font-size: 12px !important;
}
.body-column-right-main {
  float: left;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}
.header-big {
  font-size: 20px;
  margin-bottom: 20px;
}
.submit {
  float: right;
  background: #0067b4;
  height: 24px;
  margin-top: 10px;
  color: #fff;
  font-size: 10px;
  margin-left: -1px;
  border: 1px solid #ccc;
}
